[Desktop Entry]
GenericName=FTP Client
GenericName[de]=FTP-Programm
GenericName[fr]=Téléchargement FTP
Name=FileZilla
Exec=filezilla
Terminal=false
Icon=filezilla
Type=Application
Categories=Network;FileTransfer;
Version=1.0

