[Desktop Entry]
GenericName=Firewall Configuration
GenericName[de]=Firewall-Konfiguration
GenericName[fr]=Configuration du pare-feu
Name=Firewall
Icon=firewall-config
Categories=System;
Exec=/usr/bin/firewall-config
Type=Application
StartupNotify=true
Terminal=false
X-Desktop-File-Install-Version=0.23
