[Desktop Entry]
GenericName=Network Storage
GenericName[de]=Filehosting-Dienst
GenericName[fr]=Stockage en ligne
Name=Owncloud
X-SuSE-translate=false
Categories=Network;
Type=Application
Exec=owncloud
Icon=owncloud
Keywords=ownCloud;syncing;file;sharing;
X-GNOME-Autostart-Delay=3
