[Desktop Entry]
Categories=Network;P2P;
Terminal=true
Exec=rtorrent
Type=Application
StartupNotify=false
Name=rtorrent
GenericName=BitTorrent Client
NoDisplay=true

